<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>About | {{site.title}}</title>
    <meta name="MobileOptimized" content="320">
    <meta name="description" content={{site.description}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vigosmart-style.css">

    <script src="/js/vendor/modernizr.js"></script>

</head>
<body>
    {{> body}}

    <script src="/js/vendor/jquery-1.11.1.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>

</body>
</html>