<div id="about" class="content-wrapper">
	<div class="container">
		<section>
			<h1 class="h-title1">ABOUT US</h1>
			<h1 class="h-title3 align-center">We go for Smart Changes</h1>
			<div class="row">
				<div class="col-sm-6 whyvigo">
					<h1 class="h-title2">
						Why Vigosmart
					</h1>
					<p>
						Smart ( Android & iOS ) Apps development market is booming and there is great demand for custom applications for different purposes. We custom design, develop, test and deploy Android and iOS apps of your choice. Following are different types of applications developed by us at our apps development center.
					</p>
					<p>
						We also offer our custom and unique services to choose due to our specialty and professional vision and resources for famous and great brands in local or abroad.
					</p>
				</div>
				<div class="vert-line">
						<i class="icon icon-angle-left"></i>
						<i class="icon icon-angle-right"></i>
						<i class="icon icon-angle-down"></i>
				</div><!-- /.vert-line -->
				<div class="col-sm-6 service">
					<h1 class="h-title2">
						Services
					</h1>
					<p>
						Following are different types of applications offered by us at our Apps development center.
					</p>
					<ul>
						<li>Social media and networking apps</li>
						<li>Business/ Finance/E-commerce</li>
						<li>Lifestyle/Personal Utility applications</li>
						<li>Entertainment and Game applications</li>
						<li>Internet/GPS apps</li>
					</ul>
				</div><!-- /.nservice -->
			</div><!-- /.row -->
		</section><!-- /.main-content -->

		<section id="founder">
			<div class="row">
				<h1 class="align-center h-title1 col-sm-2 col-sm-push-5">The Founders
				</h1>
				<div class="founder-content col-xs-12 col-sm-5 col-sm-pull-2 align-center">
					<img src="/image/about/amirm.jpg" alt="Amir R. Manoochehri: Founder / Art Director" class="img-circle">
					<p>
						Amir R. Manoochehri <br>
						Founder / Art Director <br>
						amirrm@vigosmart.com
					</p>
					<div class="spriteFounder1"></div>
					<p>
						UI / UX DESIGN <br>
						(MOBILE / WEB)
					</p>
				</div>
				<div class="founder-content col-xs-12 col-sm-5 align-center">
					<img src="/image/about/amirr.jpg" alt="Amir Rajabi: Founder / Developer" class="img-circle">
					<p>
						Amir Rajabi <br>
						Founder / Developer <br>
						amir@vigosmart.com
					</p>
					<div class="spriteFounder2"></div>
					<p>
						Development <br>
						(MOBILE / WEB)
					</p>
				</div>
			</div>
		</section>
	</div>
</div>
