<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="shadow col-center">
    <a href="apps-int.html" class="app-bcg">
      <div class="col-xs-6">
        <img src="/image/apps/concert-mania-logo.png" class="app-logo">
      </div>
      <div class="col-xs-6">
        <p class="app-text">Concert Mania</p>
      </div>
      <div class="phone">
        <div class="phone-app">
          <div><img src="/image/apps/app-001.jpg"/></div>
        </div>
      </div>
      <div class="hover-item">
        <i class="icon icon-angle-right"></i>
      </div>
    </a>
    <div class="web-store">
      <img src="/image/apps/android.png">
      <img src="/image/apps/ios.png">
    </div>
  </div>
</div>