<body id="apps">
  <div class="content-wrapper">
    <section class="apps-content">
        <div class="container">
            <div class="row">
	            <h1>APPLICATIONS</h1>
	            <h2>Our Ideas which has got Real</h2>
              {{#each site.pages}}
                {{> appcard}}
              {{/each }}
            </div>
        </div>
    </section>
</div>