<body id="apps-int" >
	<div class="content-wrapper">
		<section class="apps-content" style="background-image: url(/image/apps/back-app-001.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2>APPLICATIONS</h2>
						<h3>Box Office ( Ver 2.0.2 )</h3>
						<p>
							Box Office, an app designed for announcing US Box office chart, featuring weekly update, including movie trailers, movie stills, movie cast and crews and another important datas. It worth to have ! New version (2.0.1) Released
						</p>
						<h4>Specifications :</h4>
						<ul>
							<li>Based on Flash Air Platform</li>
							<li>Adobe Air Installation is a must</li>
							<li>Watching Trailers online</li>
							<li>Fearuring movie stills, cast, director and gross</li>
							<li>Access to all previous top chart movies with all informations</li>
							<li>Able to Run in all Tablets</li>
							<li>Easy Navigation</li>
							<li>Qualified and Modern layout designs</li>
						</ul>
					</div>
					<div class="phone" id="slider1_container">
						<img src="/image/apps/light-phone.png" class="light-phone">
					    <!-- Slides Container -->
					    <div u="slides"class="phone-app">
					        <div><img u="image" src="/image/apps/app-001.jpg" /></div>
					        <div><img u="image" src="/image/apps/app-001.jpg" /></div>
					    </div><!-- /.phone-app -->
					</div><!-- /.phone -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.apps-content -->
		<div class="container">
			<div class="row">
				<div class="web-store">
					<div class="col-xs-12 col-sm-1 col-sm-push-5 col-md-1 col-md-push-3">
						<img src="/image/apps/box-office-logo.png" class="app-logo">
					</div>
					<div class="col-xs-12 col-sm-5 col-sm-pull-1 web-store-logo">
						<a href=""><img src="/image/apps/googleplay.png"></a>
						<a href=""><img src="/image/apps/app-store.png"></a>
					</div><!-- /.web-store-logo -->
				</div><!-- /.web-store -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.content-wrapper -->

	<!-- <script src="/js/vigosmart-all.js"></script> -->
	<script type="text/javascript">
	"use strict";
	if (document.documentElement.clientWidth >768){

	    jQuery(document).ready(function ($) {
	        var options = {
	            $AutoPlay: true,
	            $AutoPlayInterval: 3000,
	            $SlideDuration: 1000,
	        };
	        var jssor_slider1 = new $JssorSlider$('slider1_container', options);

	    });
	};
  </script>
