<div id="event" class="content-wrapper">
    <div class="container">
       <section class="event-content">
            <h1>NEWS & EVENTS</h1>
            <h2>What happened recently</h2>
            {{#each site.pages}}
                {{> event-card}}
            {{/each}}
        </section>
    </div>
</div>
