<div id="event" class="content-wrapper">
    <div class="container">
       <section class="event-content">
            <h1>NEWS & EVENTS</h1>
            <h2>What happened recently</h2>

            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div class="shadow col-center">
                    <a href="events-int.html" class="item-bcg">
                        <img src="/image/events/event-001.jpg">
                        <h3>17 July 2013</h1>
                        <h2>Vigosmart Box Office now in Google Android Market</h2>
                        <p class="ellipsis-container clamped clamped-ml">
                            <span class="ellipsis">
                                Box Office new full english version with enhanced performance and added movie information has been added to Google Play website.ox Office new full english version with enhanced performance and added movie information has been added to Google Play website.
                            </span>
                        </p>
                        <div class="hover-item">
                            <i class="icon icon-angle-right"></i>
                        </div>
                    </a>
                </div><!-- /.shadow -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="shadow col-center">
                    <a href="" class="item-bcg">
                        <img src="/image/events/event-001.jpg">
                        <h3>17 July 2013</h1>
                        <h2>Vigosmart Box Office now in Google Android Market</h2>
                        <p class="ellipsis-container clamped clamped-ml">
                            <span class="ellipsis">
                                Box Office new full english version with enhanced performance and added movie information has been added to Google Play website.
                            </span>
                        </p>
                        <div class="hover-item">
                            <i class="icon icon-angle-right"></i>
                        </div>
                    </a>
                </div><!-- /.shadow -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="shadow col-center">
                    <a href="" class="item-bcg">
                        <img src="/image/events/event-001.jpg">
                        <h3>17 July 2013</h1>
                        <h2>Vigosmart Box Office now in Google Android Market</h2>
                        <p class="ellipsis-container clamped clamped-ml">
                            <span class="ellipsis">
                                Box Office new full english version with enhanced performance and added movie information has been added to Google Play website.
                            </span>
                        </p>
                        <div class="hover-item">
                            <i class="icon icon-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="shadow col-center">
                    <a href="" class="item-bcg">
                        <img src="/image/events/event-001.jpg">
                        <h3>17 July 2013</h1>
                        <h2>Vigosmart Box Office now in Google Android Market</h2>
                        <p class="ellipsis-container clamped clamped-ml">
                            <span class="ellipsis">
                                ox Office new full english
                            </span>
                        </p>
                        <div class="hover-item">
                            <i class="icon icon-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="shadow col-center">
                    <a href="" class="item-bcg">
                        <img src="/image/events/event-001.jpg">
                        <h3>17 July 2013</h1>
                        <h2>Vigosmart Box Office now in Google Android Market</h2>
                        <p class="ellipsis-container clamped clamped-ml">
                            <span class="ellipsis">
                                ox Office new full english version with enhanced performance and added movie information has been added to Google Play website.ox Office new full english version with enhanced performance and added movie
                            </span>
                        </p>
                        <div class="hover-item">
                            <i class="icon icon-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="shadow col-center">
                    <a href="" class="item-bcg">
                        <img src="/image/events/event-001.jpg">
                        <h3>17 July 2013</h1>
                        <h2>Vigosmart Box Office now in Google Android Market</h2>
                            <p class="ellipsis-container clamped clamped-ml">
                            <span class="ellipsis">
                                Box Office new full english version with enhanced performance and added movie information has been added to Google Play website.
                            </span>
                        </p>
                        <div class="hover-item">
                            <i class="icon icon-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
