<body id="events-int">
	<div class="content-wrapper">
		<section class="news-content">
			<div class="container">
				<div class="title-style">
					<h1>NEWS & EVENTS</h1>
				</div>
				<div class="row">
				<div class="col-xs-offset-1 col-xs-10">

					<section class="event-bcg shadow">
						<div class="col-xs-12 col-sm-4">
							<img src="/image/events/event-001.jpg">
							<h3>February 28, 2013</h3>

							<h2>Box Office new version (2.0.1) released.</h2>
							<p>
								Box Office new version with new features like chart movies archive has been added to Google Play website.
							</p>
							<p><a href="">Click here for official page.</a></p>
						</div>
						<div class="text-pad col-xs-12 col-sm-8">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum ultrices dictum. Cras lorem ligula, fringilla at facilisis id, blandit quis arcu. Aliquam ex eros, convallis at dolor vel, congue elementum quam. Nulla in eleifend odio, eget faucibus lectus. Sed scelerisque finibus ligula, eget mollis nisl. Pellentesque ac massa sapien. Nullam a nisi at enim gravida scelerisque vitae id urna. Sed faucibus aliquam nisl in sollicitudin. In auctor lobortis felis vitae rutrum. Suspendisse ut metus orci. Pellentesque id tempor tellus. Duis malesuada mollis ipsum, vel volutpat nisl congue quis. Aenean metus orci, eleifend eu tempor non, fringilla in mi. Donec et placerat dolor.
							</p>
							<p>
								Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eget justo non sem laoreet vehicula. Sed aliquam mi sollicitudin ante condimentum, ac eleifend turpis pharetra. Nunc facilisis rhoncus eros eu malesuada. Suspendisse velit lacus, imperdiet quis felis id, fringilla placerat elit. In sit amet viverra ante. Vivamus tortor nisl, placerat ac tortor semper, cursus tempus lectus. Quisque facilisis tortor quis rhoncus luctus. Integer justo tortor, sodales elementum sapien nec, tristique congue neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed laoreet lectus, vel maximus tortor. Duis dapibus egestas erat, ut viverra justo condimentum quis. In hac habitasse platea dictumst. Vivamus posuere ipsum eu porttitor pretium. Nullam quis dignissim dui.
							</p>
							<p>
								Donec aliquet felis vel nisl aliquam aliquam. Mauris sit amet urna scelerisque, iaculis diam dictum, efficitur nulla. Aenean ut orci augue. Vivamus ante enim, euismod a pretium id, aliquet at mi. Curabitur aliquet luctus dictum. Nam fringilla arcu erat, ac luctus orci ultricies sed. Donec sagittis ut velit vel faucibus. Vestibulum nec odio velit. Suspendisse sollicitudin dui diam, non imperdiet magna vestibulum sed. Curabitur at magna ligula. Proin blandit hendrerit sapien, eget tempus nisi dapibus quis. Nam rutrum id massa vel elementum. Nulla auctor condimentum semper. Phasellus non feugiat ex. Curabitur viverra leo eget tellus gravida, eget ultrices justo maximus.
							</p>
						</div>
						<div class="">
							<a href="events.html"><i class="back-list glyphicon glyphicon-chevron-left"></i></a>
						</div>
					</section><!-- /.event-bcg -->
				</div></div>

			</div><!-- /.container -->
		</section>