<footer class="footer">
	<div class="footer-contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 vcenter">
					<div class="row">
						<div class="col-sm-1 vcenter">
							<i class="glyphicon glyphicon-map-marker"></i>
						</div>
						<div class="vcenter">
							<p class="font-address">
								Iran Office:
							</p>
							<p>
								No.30 Toopchi St, North Sohrevardi, Tehran, Iran
							</p>
							<p class="font-address">
								Australia Office:
							</p>
							<p>
								16 Poplar ST, Box Hill Vic 3128, Australia
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 vcenter">
					<div class="row">
						<div class="col-sm-1 vcenter">
							<i class="glyphicon glyphicon-phone-alt"></i>
						</div>
						<div class="vcenter">
							<p>
								Tehran: (+9821) 8873 2853 <br>
								Melbourne: (+61) 4326 84162
							</p>
						</div>
					</div>	
				</div>
				<div class="col-sm-2 vcenter">
					<div class="row">
						<div class="col-sm-1 vcenter">
							<i class="glyphicon glyphicon-envelope"></i>
						</div>
						<div class="vcenter">
							<p>
								info@vigosmart.com
							</p>
						</div>
					</div>	
				</div>		
			</div>
		</div><!-- /.container -->
	</div><!-- /.footer-contact -->
	<div class="short-info">
		<div class="container">
			<div class="row">
				<p class="copy-right col-sm-6 vcenter">
					&copy 2013 	VIGOSMART GROUP. ALL RIGHT RESERVED.
				</p>
				<div class="col-sm-6  social-icon vcenter">
					<ul>
						<li><a href=""><i class="icon icon-gplus"></i></a></li>
						<li><a href=""><i class="icon icon-facebook-1"></i></a></li>
						<li><a href=""><i class="icon icon-twitter-1"></i></a></li>
						<li><a href=""><i class="icon icon-github-1"></i></a></li>
					</ul>
				</div>			
			</div><!-- /.row -->
		</div><!-- /.container -->	
	</div><!-- /.short-info -->	
</footer>